@import "../../constants/utils.scss";
@import "../../constants/colors.scss";

.currency-container {
  padding: px2rem(30px) px2rem(20px);
  .currency-input-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .currency-text-field {
      input {
        text-align: right;
      }
    }
  }
  .currency-info {
    margin: px2rem(12px) 0;
    padding-left: px2rem(25px);
    display: flex;
    justify-content: space-between;
    color: $secondary-gray;
    .currency-balance-error {
      color: $primary-pink;
    }
  }
}
