@import "../../constants/colors.scss";

.switch-button-container {
  background-color: $white !important;
  color: $primary-blue !important;
  .switch-button__icon {
    transform: rotate(90deg);
  }
}
