@import "../../constants/utils.scss";
@import "../../constants/colors.scss";

.app-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .app__paper {
    width: px2rem(400px);
    padding: px2rem(20px);
  }

  .app__title {
    text-align: center;
  }

  .app__switch-button {
    position: absolute;
    top: calc(50% - #{px2rem(14px)});
    transform: translate(-50%, -50%);
    margin-left: 20px;
  }

  .app__current-rate {
    position: absolute;
    top: calc(50% - #{px2rem(14px)});
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .app__currency-container-read-only {
    margin: 0 px2rem(-20px) px2rem(20px) px2rem(-20px);
    padding: px2rem(30px) px2rem(40px);
    background-color: $primary-gray;
  }

  .app__footer {
    display: flex;
    justify-content: center;
  }
}
